* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: #f6f8f9;
}

header {
    height: 60px;
    background-color: white;
}

.container {
    display: flex;
    align-items: center;
}

img {
    max width: 100%;
}

.centraldiv {
    width: 1300px;
    height: 750px;
    margin: auto;
    margin-top: 2%;
    background-color: white;
}

.textchanges {
    padding-top: 20px;
    padding-left: 20px;
    font-size: 30px;
    margin: 5px;
}

.buttons {
    padding-bottom: 20px;
}

.bluebutton {
    background-color: #47adf1; 
    color: white;
    border-radius: 7%;
}

hr {
    margin-top: 10px;
    border-color: #f6f8f9;
}

.whitebutton {
    background-color: white;
    border: 1px rgb(184, 184, 184) solid;
    color: gray;
    border-radius: 7%;
}

.checkmark {
    color: #64c0a9;
    padding: 2px 5px;
    border-radius: 50%;
    border: 2px solid #64c0a9;
}

.cross {
    color: red;
    border: 2px solid red;
    border-radius: 50%;
    padding: 2px 5px;
}

.bluecolor {
    background-color: #47adf1;
    border-radius: 10%;
}

.purplecolor {
    background-color: purple;
    border-radius: 10%;
}

.greencolor {
    background-color: green;
    border-radius: 10%;
}

.orangecolor {
    background-color: orange;
    border-radius: 10%;
}

.pinkcolor {
    background-color: pink;
    border-radius: 10%;
}

.lightgreencolor {
    background-color: lightgreen;
    border-radius: 10%;
}

.pdistance {
    padding-bottom: 20px;
}